body {
  max-width: 470px;
  font-family: maven Pro, sans-serif;
  text-align: center;
  color: #404747;
  margin: 60px auto;
}

body .loading-data {
  color: black;
}

@media (max-width: 900px) {
  body {
    margin: 0 auto;
  }
}
